<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BarcodPrinter" value="barcode" />
    <add key="A4Printer" value="a4" />
    <add key="A5Printer" value="" />
    <add key="BarcodFolder" value="C:\LIS\barcode\"/>
    <add key="A4Folder" value="C:\LIS\A4\"/>
    <add key="A5Folder" value=""/>
    <add key="BarcodBackup" value="C:\LIS\barcode\backup\"/>
    <add key="A4Backup" value="C:\LIS\A4\Backup\"/>
    <add key="A5Backup" value=""/>
    <add key="LogFilePath" value="C:\LIS\barcode\Log\"/>
 <add key="IntervalTimesec" value="5"/>    
<add key="AdobEXEPath" value="C:\Program Files (x86)\Adobe\Reader 11.0\Reader\AcroRd32.exe"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>